<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMS</title>

    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'style/main.css' %}">
</head>

<body>
    <div class="layout">

        <div class="welcome">
            <h2>Welcome to Student Management System</h2>
            <p>Student Management System helps manage student details easily — <br> including adding, editing, viewing, and deleting records.
It saves time, reduces manual work, and keeps all student information organized in one place.</p> <a href="{% url 'app:Show' %}">View all records</a>
        </div>

        <div class="form_box">
            <form method="POST">
                <h2>Student Form</h2>
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn_submit">Submit</button>
            </form>
        </div>

    </div>

</body>

</html>