<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Roll</th>
            <th>Branch</th>
            <th>Course</th>
            <th>Actions</th>
        </tr>

        {% for i in Show_details %}
        <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.Email }}</td>
            <td>{{ i.phone_no }}</td>
            <td>{{ i.roll_no }}</td>
            <td>{{ i.Branch }}</td>
            <td>{{ i.course }}</td>
            <td>
                <a href = "{% url 'app:update_details' i.id %}" > Edit</a>
                
                <a href="{% url 'app:delete_student' i.id %}"
                    onclick="return confirm('Are you sure you want to delete this record?');">
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>